.env

# vector tiles
*.mbtiles
*.pmtiles
*.pbf
*.osm
*.tsv*

# Might only be needed for maven local build?
/data/sources

/tileserver/data/fonts/*
!/tileserver/data/fonts/.gitkeep

# letsencrypt certificates
letsencrypt/

# logs for nginx and letsencrypt
logs/

# DSStore
.DS_Store
