.env

# Data
/data/*
!/data/.gitkeep
*.mbtiles
*.pbf


# letsencrypt certificates
letsencrypt/

# logs for nginx and letsencrypt
logs/

# DSStore
.DS_Store

# terraform
.terraform/
terraform.tfstate*
