.env

# vector tiles
*.mbtiles
*.pmtiles
*.pbf
*.osm
*.tsv*

# Might only be needed for maven local build?
/data/sources


# letsencrypt certificates
letsencrypt/

# logs for nginx and letsencrypt
logs/

# DSStore
.DS_Store
