services:
  nginx:
    build: ./nginx
    ports:
      - 80:80
      - 443:443
    depends_on:
      - tileserver
    volumes:
      - ./nginx/conf.d/:/etc/nginx/conf.d/
      - ./nginx/cron/:/etc/periodic/weekly/
      - ./nginx/letsencrypt/:/etc/letsencrypt/
      - ./nginx/logs/nginx/:/var/log/nginx/
      - ./nginx/logs/letsencrypt:/var/log/letsencrypt/
  osmium:
    build: osmium/.
    volumes:
      - ./data:/data
  planetiler:
    build: planetiler/.
    environment:
      JAVA_TOOL_OPTIONS: "-Xmx5g"
    volumes:
      - ./data:/data
  tileserver:
    build: ./tileserver
    ports:
      - 127.0.0.1:8080:8080
    volumes:
      - ./tileserver/data:/data
