services:
  pmtiles:
    build: pmtiles/.
    volumes:
      - ./data:/data
  osmium:
    build: osmium/.
    volumes:
      - ./data:/data
  maven:
    build: maven/.
    volumes:
      - ./data:/data
  planetiler:
    build: planetiler/.
    environment:
      JAVA_TOOL_OPTIONS: "-Xmx5g"
    volumes:
      - ./data:/data
