services:
  tileserver:
    build: tileserver/.
    ports:
      - 8080:8080
    volumes:
      - ./tileserver/data:/data
  pmtiles:
    build: pmtiles/.
    volumes:
      - ./data:/data
  osmium:
    build: osmium/.
    volumes:
      - ./data:/data
  planetiler:
    build: planetiler/.
    environment:
      JAVA_TOOL_OPTIONS: "-Xmx5g"
    volumes:
      - ./data:/data
